@model Bank.Models.Entities.MoneyOrder

<td>
    @Html.DisplayFor(model => model.Amount)
    <input type="hidden" id="moId" value="@string.Format(Model.Id.ToString())" />
</td>
<td>

    @string.Format(Model.CashRequest ? "Cash Requested" : "Cash not Requested")
</td>

<td>
    @string.Format(Model.Signed ? "Signed" : "Not Signed")
</td>
<td>
    @string.Format(Model.Cashed ? "Cashed" : "Not Cashed")
</td>

<td>
    <input id="CashMO" type="Button" value="Give Cash" onclick="CashMO(@string.Format(Model.Id.ToString()));" />
</td>

<script>
    var moRequest;



    function CashMO(moId)
    {
        //var moId = $("#moId").val();
        $.ajax({
            type: 'GET',
            url: 'http://localhost:58019/Bank/CashMoneyOrder',
            data: {id : moId}
        }).done(function (data) {

            alert("Money Order Cashed!! " );
        }).error(function (data) {
            alert("Money Order Not Found!!");
        });


    }


</script>

